.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: rgb(81, 162, 249);
}

.leaflet-container {
  background-color: #759eec;
  width: 50vw; 
  height: 60vh;
}

.results {
  background-color: #e7aabb;
  width: 50vw;
  height: 25vh;
}

.title {
  background-color: #396cca;
  height: 10vh;
  
}

.footer{
  background-color: #396cca;
  height: 5vh;
}

.interactive {
  background-color: rgb(205, 231, 170);
  margin-left: 50vw;
  margin-top: -90vh;
  width: 50vw;
  height: 20vh;
}

.restart-game-button {
  background-color: rgb(170, 223, 231);
  margin-left: 50vw;
  margin-top: 0vh;
  width: 25vw;
  height: 35vh;
}

.current-turn-button {
  background-color: rgb(231, 170, 176);
  margin-left: 50vw;
  margin-top: 0vh;
  width: 25vw;
  height: 30vh;
}

.leaderboard {
  background-color: rgb(231, 201, 170);
  margin-left: 75vw;
  margin-top: -65vh;
  width: 25vw;
  height: 65vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
